 <h2 align="center">Github User Profile Information</h2>
<input class="form-control"
  type="text"
  [(ngModel)]="searchkeyword"  
  placeholder="Please enter user name"
/>
<button class="btn btn-success" (click)="getUser(searchkeyword)">Search</button><br />
{{ searchkeyword }}
<div *ngIf="!isSearch && (users | async)?.length > 0; else loading">
  <div *ngFor="let user of users | async">
    <br />
    <h3>{{ user.login | uppercase }}</h3>
    <img src="{{ user.avatar_url }}" class="img-circle" width="100" height="100" />
    <app-github-user-followers
      userName="{{ user.login }}"
    ></app-github-user-followers>
  </div>
  <ng-template #loading>
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </ng-template>
</div>
<!-- Display only when user search -->
<div *ngIf="isSearch">
  <h3>{{ user.login | uppercase }}</h3>
  <img src="{{ user.avatar_url }}" width="100" height="100" />
  <app-github-user-followers userName="{{ user.login }}"></app-github-user-followers>
</div>
